body {font-size: 100%;}
header {top: 10px;}

iframe {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: auto;
}

img {
	height: 100px;
	filter: invert(1);
}
.deux img {height: 50px;}
.quatre img {height: 25px;}

.lacuna {
	position: relative;
	height: 106px;
}

@media (min-width: 500px) {

body {font-size: 250%;}

img {height: 300px;}
.deux img {height: 150px;}
.quatre img {height: 75px;}
.lacuna img {
	position: absolute;
	top: 0;
	left: 0;
}

}

@media (min-width: 1000px) {

body {font-size: 150%;}

img {height: 100px;}
.deux img {height: 50px;}
.quatre img {height: 25px;}

}

@media (min-width: 1500px) {body {font-size: 100%;}}
